<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <h1>Do Not Fret - The Community Musician Store</h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="footer">&copy; 2021 Jona Brown, Ben Ibarra</footer>
</body>
</html>
