<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/site.css" />
    <title>@ViewBag.Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&family=Oswald:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div id="headerText">
            <h1>Do Not Fret</h1>
        </div>
        <br />
        <h2 id="headerSubtitle">The Community Musician Store</h2>
    </header>
		<main id="mainBody">
				<article>
						@RenderBody()
				</article>
		</main>
    <footer class="footer">&copy; 2021 Jona Brown, Ben Ibarra</footer>
</body>
</html>