<h2>Sign in to Do Not Fret</h2>

<form method="post" action="~/Auth/authenticate">
	<div><input name="username" placeholder="username"/></div>
	<div><input name="password" placeholder="password"/></div>
	<input  type="submit" value="Sign In"/>
</form>

@*provides any error message that we have.*@
<div asp-validation-summary="All"></div>
