<h2 class="mainTitleText">Create a DoNotFret User Account</h2>

<div id="link-container">
	<a class="navLinks" asp-page="/Index">Home</a>
</div>

<form method="post" action="/Auth/usersignup">
	<div><input name="username" placeholder="username"/></div>
	<div><input name="password" type="password" placeholder="password"/></div>
	<div><input name="email" placeholder="email"/></div>
	<div><input name="phonenumber" placeholder="123-456-7890"/></div>
	<input  type="submit" value="Sign Up"/>
</form>

@*provides any error message that we have.*@
<div asp-validation-summary="All"></div>