@model DoNotFret.Models.Instrument

@using DoNotFret.Models

<h2 class="mainTitleText">Add a new instrument</h2>

<div id="link-container">
	<a class="navLinks" asp-controller="Home" asp-action="Index">Home</a>
</div>

<form asp-controller="Home" asp-action="Add" method="post">
	<label>
		<span>Type</span>
	</label>

	<label>
		<span>Brand</span>
		<input asp-for="@Model.Brand" />
	</label>

	<label>
		<span>Material</span>
		<input placeholder="Maple, Brass..." asp-for="@Model.Material" />
	</label>

	<label>
		<span>Description</span>
		<textarea asp-for="@Model.Description"></textarea>
	</label>

	<button type="submit">Save</button>
</form>