<h2 class="mainTitleText">Welcome to DNF, @ViewData["name"]</h2>

<div id="link-container">
	<a class="navLinks" asp-controller="Home" asp-action="Index">Home</a>
	<a class="register-link" asp-controller="Home" asp-action="Index">Home</a>
</div>